main .box{
    width: 22%;
    height: 300px;
    border: 2em;
   /* border-color: ;*/
   display: inline-block;
   vertical-align: top;
   margin-top:2em ;
    margin-bottom: 0.3em;
  
}
main #box1{
     border-right:7px solid red;
}
/*
main #box1 button{
    align-items: center;
}*/
main #box3{
    border-right: 7px solid green;
}
footer{
    bottom: 0;
   /*position: fixed;*/
   /* width: 100%;*/
    background-color: black;
    color: white;
    /*padding: 1.2em;*/
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}
a{
    text-decoration: none;
    color: gold;
}

footer a:hover{
    color: green;
    text-decoration: underline;
}
form div{
    display: flex;
    width: 25%;
    align-items: center;
    padding-left: 50px;

}
textarea{ 
    align-items: center;
}
div{
    display: flex;
}
div p{
    padding: 5px 15px;
}
div h1{
    padding: 5px 15px;
    text-decoration: underline;
}
button:hover{
    background-color: blue;
}
button{
    padding-left: 10px 15px;
}
